<div style="background-color:orange; height: 100vh">
    <h1>THE BEST MEMORIES OF YEAR 3</h1>

<div>
    Year 3 memories - ICT project

1. My birthday - Sep 8th in my new house garden - It was a water balloon party and it was the funnest ever.
2. Crystal Palace - Cross country - It was very tiring as it was my first run and I want to do this every year
3. Roman and Viking day - I dressed as a viking boy and loved going back in time
4. Recorder concert - This was amazing and my mom and dad loved it and I liked to hear the people cheering us
5. Cricket coaching - I always look forward to cricket coaching as all my friends come and its great to lear together
6. Badminton family matches - this was my first time playing with my mom and dad and my mom taught us how to play
7. Morocco trip - We went to Marrakech for 10 days. 
    1. Hot air balloon and it was a breathtaking experience. 
    2. We went to Atlas Mountains. 
    3. The best thing was the desert safari and riding on the camels and camping in desert. 
    4. We loved the food, chicken tagine the best of all. 
    5. The film city where the Game of Thrones was shot, my parents told me that
    6. We also went Go-karting and it was the fastest track ever that I have driven on and was very exciting. 
8. Roman Villa trip - We walked from school to Roman Villa and we learnt about paleantologists and saw a lot of left over materials that were used in the Roman times 
9. London Art Gallery - This was an amazing experience as we went to the Gallery in London by train and we also saw the Buckingham palace, that was super. 
10. Lockdown - for 4 months - This is the memory I will never forget which is the Coronavirus. We have had great family time during lockdown, 
    1. Playing a lot of cricket in the garden
    2. Doing barbecues
    3. Cycling
    4. Developed interest for kickboxing and singing
    5. Helping mom with household chores like folding the laundry, mowing the lawn, setting the table for dinner
    6. Zoom calls with family and friends
    7. Homeschooling 
    8. Online classes
    9. Yoga
    10. Family biking - My mom and dad bought cycles too and we go on family long adventures with our cycles
    11. The best part about Lockdown was to learn how to create this website from my uncle who lives in Chicago, USA

</div>
</div>