<div class="container-fluid">
  <div class="row">
    <div class="col-3">
      <app-image imageName="bday.jpeg" header="8th Birthday" description="1. My birthday - Sep 8th in my new house garden -
            It was a water balloon party and it was the funnest ever">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="cross-country.jpeg" header="Cross Country" description="Crystal Palace - Cross country -
           It was very tiring as it was my first run and I want to do this every year"></app-image>
    </div>
    <div class="col-3">
      <app-image imageName="roman.jpg" header="Roman and Viking day"
        description="I dressed as a viking boy and loved going back in time">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="" header="Recorder concert"
        description="This was amazing and my mom and dad loved it and I liked to hear the people cheering us">
      </app-image>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-image imageName="cricket.jpg" header="Cricket coaching" description="I always look forward to cricket coaching as all my friends come and its great to lear
        together">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="badminton.jpeg" header="Badminton family matches" description="This was my first time playing with my mom and dad and my mom taught us how to
      play">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="morocco.jpeg" header="Morocco trip" description="We went to Marrakech for 10 days.">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="hotair-balloon.jpeg" header="Hot air balloon" description="Hot air balloon and it was a breathtaking experience">
      </app-image>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-image imageName="atlas-mountains.jpg" header="Atlas mountains" description="We went to Atlas Mountains.">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="desert.jpg" header="Desert safari" description="The best thing was the desert safari and riding on the camels and camping in desert.">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="chicken.jpg" header="Morocco Food" description="We loved the food, chicken tagine the best of all.">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="filmcity.jpg" header="Film City" description="The film city where the Game of Thrones was shot, my parents told me that">
      </app-image>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-image imageName="gokarting.jpeg" header="Go-karting" description="We also went Go-karting and it was the fastest track ever that I have driven on and was very exciting.">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="romanvilla.jpg" header="Roman Villa trip" description="We walked from school to Roman Villa and we learnt about paleantologists and saw a lot of
      left over materials that were used in the Roman times">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="artgallery.jpeg" header="London Art Gallery" description="This was an amazing experience as we went to the Gallery in London by train and we also
      saw the Buckingham palace, that was super.">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="lockdown2.jpeg" description="for 4 months - This is the memory I will never forget which is the Coronavirus. We have had great
      family time during lockdown">
      </app-image>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-image imageName="cricket.jpg" header="Cricket" description="Playing a lot of cricket in the garden">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="barbeque.jpg" header="Barbecues" description="Doing barbecues">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="cycling.jpeg" header="Cycling" description="">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="kick.jpeg" header="kickboxing and singing" description="Developed interest for kickboxing and singing">
      </app-image>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-image imageName="lockdown4.jpeg" header="Helping Mom" description="Helping mom with household chores like folding the laundry, mowing the lawn, setting the table for dinner">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="zoom.jpeg" header="Zoom Calls" description="Zoom calls with family and friends">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="homeschool.jpg" header="School" description="Homeschooling">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="elearning.jpg" header="Online classes" description="">
      </app-image>
    </div>
  </div>
  <div class="row">
    <div class="col-3">
      <app-image imageName="lockdown3.jpeg" header="Yoga" description="">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="" header="Family biking" description="My mom and dad bought cycles too and we go on family long adventures with our cycles">
      </app-image>
    </div>
    <div class="col-3">
      <app-image imageName="" header="Website(Benex)" description="The best part about lockdown was to learn how to create this website from my uncle who lives in Chicago, USA">
      </app-image>
    </div>
  </div>
</div>
